body{
  background-image:url("https://i.pinimg.com/originals/d7/93/24/d79324cdaff4652b0d18bc455ce3c92c.png");
  /* background-image:url("/static/Shadow.jpg"); */
}

#Anushrut{
  font-family: Lucida Console, Courier, monospace;
  font-weight: lighter;
  font-size: 50%;
}

#title{
  font-family: fantasy;
  font-weight: 500;
  font-size: 200%;
}
